.sidebar {
    background-color: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
}
.cover {
    width: 100%;
    height: 72px;
    object-fit: cover;
}

.sidebar  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar  .perfil .avatar {
    /* box-sizing: initial; */
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
    margin-top: calc(0px - 1.5rem - 6px);    
}
.sidebar  .perfil  strong {
    margin-top: 1rem;
    font-weight: bold;
    line-height: 1.6;
}

.sidebar  .perfil  span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.sidebar footer {
    border-top: solid 1px var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
    text-align: center;
}

.sidebar footer a {    
    background: transparent;
    color: var(--green-500);
    border: 1px solid var(--green-500);
    border-radius: 8px;
    height: 50px;
    padding: 0 1rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
}
.sidebar footer a:hover {  
    transition: all .2s;
    background: var(--green-500);
    color: var(--white);
}